.pageRenderer_div {
  display: grid;
  grid-template-areas:
    "top"
    "mid"
    "bottom"
    "footer";
}
/*ALL_CONTAINERS*/
.top_container {
  grid-area: top;
}

.top_container > h1 {
  text-align: center;
}
.middle_container {
  grid-area: mid;
  border-style: groove;
  border-radius: 1em;
  height: 15vh;
  width: 90vw;
  margin: 2vh;
  justify-self: center;
  background-color: white;
}
.bottom_container {
  grid-area: bottom;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.button_container {
  display: grid;
  grid-template-areas: "random restart" "user restart" "error error";
  grid-template-columns: 2.4fr 1fr;
  grid-template-rows: 7.5vh 7.5vh;
  border: solid 0.2em rgb(0, 0, 0);
  border-radius: 1em;
  width: 50vw;
  height: auto;
  justify-self: center;
  background-color: white;
  padding-bottom: 4vh;
}

@media only screen and (max-width: 768px) {
  .pageRenderer_div {
    display: grid;
    grid-template-areas: "top" "mid" "bottom" "footer";
    height: auto;
    overflow-y: auto;
  }
  /* .title_div {
    border-bottom-width: 1vw;
    width: 10vw;
    font-size: 5vw;
  } */
   
  .button_container {
    width: 96vw;
    height: auto;
    padding-bottom: 3vh;
  }
  /* .randomWord_div,
  .userWord_div {
    display: flex;
    width: 70vw;
    height: 12vh;
    flex-direction: row;
    align-items: center;
  }
  .userWord_div {
    margin-top: 3vh;
  }
  .randomWord_btn,
  .userWord_btn {
    width: 30vw;
    height: 8vh;
    margin-right: 0.5vh;
    justify-content: center;
  }
  .numberOfLetters_input,
  .userWord_input {
    height: 6vh;
    width: 100%;
  }
  .numOfLetters_input {
    width: 20vw;
  }
  .userWord_input {
    width: 35vw;
    margin-bottom: 2px;
  }
  .errMsg {
    font-size: medium;
    margin-top: 6vh;
    margin-left: 5vw;
  }
  .resetGame_btn {
    width: 25vw;
    height: 19vh;
  } */
   .middle_container {
    width: 98vw;
    margin: auto;
  }
  /* .processedWordArr_div {
    width: 100%;
  } 
  .letter_display {
    font-size: 3vh;
    flex: 1;
  }
  .hasLost_msg,
  .hasWon_msg {
    display: flex;
    width: 98%;
    height: 90%;
    text-align: center;
    border-radius: 0.5em;
    font-size: 4vh;
  } */
  .bottom_container {
    display: inline;
  }

  .btnInput_div {
    height: auto;
    width: 98vw;
    height: 30vh;
    margin: auto;
  }
  .indv_btns {
    width: 9.5vw;
    height: 6vh;
    font-size: 3.5vh;
    margin: auto;
  }
  .hangmanStickFigure_div {
    width: 98vw;
    height: 20vh;
    margin: auto;
  }

  .gallowBackground_div > svg {
    width: 25vh;
  }
}
